{% extends 'layout.html' %}

{% block content %}

<div class="text-light">

<h1>about</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis sapiente aut unde amet animi aliquid accusantium dolores assumenda ullam rem! Odio laudantium voluptatibus, saepe qui minima necessitatibus quam. Ab facilis laudantium tempora quo, doloribus aliquam incidunt numquam autem repellat earum assumenda provident! Nostrum officia, magnam iste nemo totam quisquam aperiam!</p>

</div>


{% endblock %}